@font-face {
font-family: 'LillyBelle';
src: URL('../LillyBelle.ttf') format('truetype');
}
.titulo {
    font-family: LillyBelle;
}

.navbar-brand {
    font-size: 50px;
}

.navbar-nav {
    font-size: 18px;
}
#botao {
    border-radius: 50px;
    font-size: 18px;
}

img {
    width: 120px;
}

#rodape{
    position: static;
    bottom: 0 !important;
}

.card {
    border-color: black;
    border-radius: 10%;
    border-width: 3px;
}
.card-img {
    width: 200px;
    height: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.card-text {
    text-align: center;
}