@font-face {
  font-family: "LillyBelle";
  src: URL("../LillyBelle.ttf") format("truetype");
}
.titulo {
  font-family: LillyBelle;
}

.navbar {
  margin-top: -1.5rem;
}
.navbar-brand {
  font-size: 50px;
}

.navbar-nav {
  font-size: 18px;
}
.btn-radius {
  border-radius: 100px !important;
  font-size: 18px !important;
}

.btn-shadow:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
img {
  width: 120px;
}

.breadcrumb {
  background-color: none;
}

html, body {height:100%;}

.geral {
  min-height:100%;
  position:relative;
}

#rodape {
  width: 100%;
  position: absolute;
  bottom: 0 !important;
}

#text-rodape {
  margin-top: 8px;
  margin-bottom: 8px;
}
.card {
  /* border-color: black; */
  border-radius: 10%;
  border-width: 3px;
}
.card-img {
  /* background: url('../Imagens/sim.png');
  background-color: rgb(49, 121, 184);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%; */
  width: 200px;
  height: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.card-text {
  text-align: center;
  color: black;
}

.row-align {
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.categorias {
  margin-top: 14px;
}

.btn-form {
  width: 7rem;
  margin-bottom: 9.7rem;
}

.btn-form-2 {
  width: 7rem;
  margin-bottom: 2rem;
}

.btn-form-3 {
  width: 7rem;
  margin-bottom: 3.9rem;
}

.btn-confissao {
  width: 7rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.btn-cores {
  width: 2.5rem;
  height: 2.5rem;
}

.conjunto-cores {
  margin-top: 1rem;
}

.escolha-cor {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.border-dark {
  border-width: 3px;
}

.card-categoria {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-artista {
  width: 8rem;
}

.img-artista {
  width: 250px;
  height: 350px;
  margin-left: 75px;
  margin-right: 75px;
}
.card-confissao {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.img-card-middle {
  width: 135px;
  height: 135px;
  margin-left: 55px;
  margin-top: -8px;
}

.border-thumb {
  border-color: black;
  border-width: 2px;
}

.btn-form-confissao {
  margin-top: -130px;
}

#card-capa {
  border: solid #ffadad 4px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
}
